USE master
GO

IF DB_ID('Examples') IS NOT NULL
    DROP DATABASE Examples
GO

/****** Object:  Database Examples    ******/
CREATE DATABASE Examples
GO

USE [Examples]
GO

/****** Object:  Table [dbo].[ActiveInvoices]    Script Date: 2/26/2020 11:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActiveInvoices](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[VendorID] [int] NOT NULL,
	[InvoiceNumber] [varchar](50) NOT NULL,
	[InvoiceDate] [date] NOT NULL,
	[InvoiceTotal] [money] NOT NULL,
	[PaymentTotal] [money] NOT NULL,
	[CreditTotal] [money] NOT NULL,
	[TermsID] [int] NOT NULL,
	[InvoiceDueDate] [date] NOT NULL,
	[PaymentDate] [date] NULL
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[APFlat]    Script Date: 2/26/2020 11:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APFlat](
	[VendorName] [varchar](50) NOT NULL,
	[InvoiceNumber] [varchar](50) NOT NULL,
	[ItemDescription1] [varchar](100) NULL,
	[ItemDescription2] [varchar](100) NULL,
	[ItemDescription3] [varchar](100) NULL,
	[ItemDescription4] [varchar](100) NULL
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Customers]    Script Date: 2/26/2020 11:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerLast] [nvarchar](30) NULL,
	[CustomerFirst] [nvarchar](30) NULL,
	[CustAddr] [nvarchar](60) NULL,
	[CustCity] [nvarchar](15) NULL,
	[CustState] [nvarchar](15) NULL,
	[CustZip] [nvarchar](10) NULL,
	[CustPhone] [nvarchar](24) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[DateSample]    Script Date: 2/26/2020 11:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DateSample](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StartDate] [datetime] NULL
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Departments]    Script Date: 2/26/2020 11:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DeptNo] [int] IDENTITY(1,1) NOT NULL,
	[DeptName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[DeptNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Employees]    Script Date: 2/26/2020 11:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [varchar](35) NOT NULL,
	[FirstName] [varchar](35) NOT NULL,
	[DeptNo] [int] NOT NULL,
	[ManagerID] [int] NULL
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[EmployeesOld]    Script Date: 2/26/2020 11:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeesOld](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [varchar](35) NOT NULL,
	[FirstName] [varchar](35) NOT NULL,
	[DeptNo] [int] NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[EmployeesTest]    Script Date: 2/26/2020 11:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeesTest](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [varchar](35) NOT NULL,
	[FirstName] [varchar](35) NOT NULL,
	[DeptNo] [int] NOT NULL,
	[ManagerID] [int] NULL
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Investors]    Script Date: 2/26/2020 11:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Investors](
	[InvestorID] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [varchar](50) NULL,
	[FirstName] [varchar](50) NULL,
	[Address] [varchar](50) NULL,
	[City] [varchar](50) NULL,
	[State] [char](2) NULL,
	[ZipCode] [char](10) NULL,
	[Phone] [char](20) NULL,
	[Investments] [money] NULL,
	[NetGain] [money] NULL,
 CONSTRAINT [PK_Investors] PRIMARY KEY CLUSTERED 
(
	[InvestorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Invoices]    Script Date: 2/26/2020 11:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[InvoiceID] [int] NOT NULL,
	[InvoiceNumber] [int] NULL,
	[InvoiceTotal] [smallmoney] NULL
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[NullSample]    Script Date: 2/26/2020 11:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NullSample](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceTotal] [money] NULL
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[PaidInvoices]    Script Date: 2/26/2020 11:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaidInvoices](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[VendorID] [int] NOT NULL,
	[InvoiceNumber] [varchar](50) NOT NULL,
	[InvoiceDate] [date] NOT NULL,
	[InvoiceTotal] [money] NOT NULL,
	[PaymentTotal] [money] NOT NULL,
	[CreditTotal] [money] NOT NULL,
	[TermsID] [int] NOT NULL,
	[InvoiceDueDate] [date] NOT NULL,
	[PaymentDate] [date] NULL
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Projects]    Script Date: 2/26/2020 11:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[ProjectNo] [char](5) NOT NULL,
	[EmployeeID] [int] NOT NULL
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[RealSample]    Script Date: 2/26/2020 11:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RealSample](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[R] [float] NULL
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[SalesReps]    Script Date: 2/26/2020 11:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesReps](
	[RepID] [int] IDENTITY(1,1) NOT NULL,
	[RepFirstName] [varchar](50) NOT NULL,
	[RepLastName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_SalesReps] PRIMARY KEY CLUSTERED 
(
	[RepID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[SalesTotals]    Script Date: 2/26/2020 11:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesTotals](
	[RepID] [int] NOT NULL,
	[SalesYear] [char](4) NOT NULL,
	[SalesTotal] [money] NOT NULL,
 CONSTRAINT [PK_SalesTotals] PRIMARY KEY CLUSTERED 
(
	[RepID] ASC,
	[SalesYear] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Sample]    Script Date: 2/26/2020 11:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sample](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Number] [int] NULL,
	[Color] [char](10) NOT NULL
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[StringSample]    Script Date: 2/26/2020 11:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StringSample](
	[ID] [char](3) NULL,
	[Name] [varchar](25) NULL,
	[AltID] [char](3) NULL
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Vendors]    Script Date: 2/26/2020 11:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendors](
	[VendorID] [int] IDENTITY(1,1) NOT NULL,
	[VendorName] [nvarchar](50) NOT NULL,
	[VendorAddress1] [nvarchar](50) NULL,
	[VendorAddress2] [nvarchar](50) NULL,
	[VendorCity] [nvarchar](50) NOT NULL,
	[VendorState] [nchar](2) NOT NULL,
	[VendorZipCode] [nvarchar](10) NOT NULL,
	[VendorContactLName] [nvarchar](35) NULL,
	[VendorContactFName] [nvarchar](35) NULL,
	[VendorPhone] [nvarchar](50) NULL,
	[TermsID] [int] NOT NULL,
	[AccountNo] [int] NOT NULL,
	[LastTranDate] [date] NULL,
	[YTDPurchases] [money] NULL,
	[YTDReturns] [money] NULL,
	[LastYTDPurchases] [money] NULL,
	[LastYTDReturns] [money] NULL,
 CONSTRAINT [PK_Vendors] PRIMARY KEY CLUSTERED 
(
	[VendorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ActiveInvoices] ON 

INSERT [dbo].[ActiveInvoices] ([InvoiceID], [VendorID], [InvoiceNumber], [InvoiceDate], [InvoiceTotal], [PaymentTotal], [CreditTotal], [TermsID], [InvoiceDueDate], [PaymentDate]) VALUES (89, 72, N'39104', CAST(N'2020-01-10' AS Date), 85.3100, 0.0000, 0.0000, 3, CAST(N'2020-02-09' AS Date), NULL)
INSERT [dbo].[ActiveInvoices] ([InvoiceID], [VendorID], [InvoiceNumber], [InvoiceDate], [InvoiceTotal], [PaymentTotal], [CreditTotal], [TermsID], [InvoiceDueDate], [PaymentDate]) VALUES (94, 123, N'963253264', CAST(N'2020-01-18' AS Date), 52.2500, 0.0000, 0.0000, 3, CAST(N'2020-02-17' AS Date), NULL)
INSERT [dbo].[ActiveInvoices] ([InvoiceID], [VendorID], [InvoiceNumber], [InvoiceDate], [InvoiceTotal], [PaymentTotal], [CreditTotal], [TermsID], [InvoiceDueDate], [PaymentDate]) VALUES (98, 83, N'31361833', CAST(N'2020-01-21' AS Date), 579.4200, 0.0000, 0.0000, 2, CAST(N'2020-02-10' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[ActiveInvoices] OFF
INSERT [dbo].[APFlat] ([VendorName], [InvoiceNumber], [ItemDescription1], [ItemDescription2], [ItemDescription3], [ItemDescription4]) VALUES (N'Wells Fargo Bank', N'112897', N'DiCicco''s', N'Kinko''s', N'Office Max', N'Publishers Marketing')
INSERT [dbo].[APFlat] ([VendorName], [InvoiceNumber], [ItemDescription1], [ItemDescription2], [ItemDescription3], [ItemDescription4]) VALUES (N'Zylka Design', N'97/522', N'MC Bouncebacks', N'SCMD Flyer', NULL, NULL)
INSERT [dbo].[APFlat] ([VendorName], [InvoiceNumber], [ItemDescription1], [ItemDescription2], [ItemDescription3], [ItemDescription4]) VALUES (N'Zylka Design', N'97/553B', N'Card revision', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustID], [CustomerLast], [CustomerFirst], [CustAddr], [CustCity], [CustState], [CustZip], [CustPhone]) VALUES (1, N'Anders', N'Maria', N'345 Winchell Pl', N'Anderson', N'IN', N'46014', N'(765) 555-7878')
INSERT [dbo].[Customers] ([CustID], [CustomerLast], [CustomerFirst], [CustAddr], [CustCity], [CustState], [CustZip], [CustPhone]) VALUES (2, N'Trujillo', N'Ana', N'1298 E Smathers St', N'Benton', N'AR', N'72018', N'(501) 555-7733')
INSERT [dbo].[Customers] ([CustID], [CustomerLast], [CustomerFirst], [CustAddr], [CustCity], [CustState], [CustZip], [CustPhone]) VALUES (3, N'Moreno', N'Antonio', N'6925 N Parkland Ave', N'Puyallup', N'WA', N'98373', N'(253) 555-8332')
SET IDENTITY_INSERT [dbo].[Customers] OFF
SET IDENTITY_INSERT [dbo].[DateSample] ON 

INSERT [dbo].[DateSample] ([ID], [StartDate]) VALUES (1, CAST(N'1990-11-01T00:00:00.000' AS DateTime))
INSERT [dbo].[DateSample] ([ID], [StartDate]) VALUES (2, CAST(N'2010-10-28T00:00:00.000' AS DateTime))
INSERT [dbo].[DateSample] ([ID], [StartDate]) VALUES (3, CAST(N'2015-06-30T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[DateSample] OFF
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([DeptNo], [DeptName]) VALUES (1, N'Accounting')
INSERT [dbo].[Departments] ([DeptNo], [DeptName]) VALUES (2, N'Payroll')
INSERT [dbo].[Departments] ([DeptNo], [DeptName]) VALUES (3, N'Operations')
SET IDENTITY_INSERT [dbo].[Departments] OFF
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeID], [LastName], [FirstName], [DeptNo], [ManagerID]) VALUES (1, N'Smith', N'Cindy', 2, NULL)
INSERT [dbo].[Employees] ([EmployeeID], [LastName], [FirstName], [DeptNo], [ManagerID]) VALUES (2, N'Jones', N'Elmer', 4, 1)
INSERT [dbo].[Employees] ([EmployeeID], [LastName], [FirstName], [DeptNo], [ManagerID]) VALUES (3, N'Simonian', N'Ralph', 2, 2)
SET IDENTITY_INSERT [dbo].[Employees] OFF
SET IDENTITY_INSERT [dbo].[EmployeesOld] ON 

INSERT [dbo].[EmployeesOld] ([EmployeeID], [LastName], [FirstName], [DeptNo]) VALUES (1, N'Smith', N'Cindy', 2)
INSERT [dbo].[EmployeesOld] ([EmployeeID], [LastName], [FirstName], [DeptNo]) VALUES (2, N'Jones', N'Elmer', 4)
INSERT [dbo].[EmployeesOld] ([EmployeeID], [LastName], [FirstName], [DeptNo]) VALUES (3, N'Simonian', N'Ralph', 2)
SET IDENTITY_INSERT [dbo].[EmployeesOld] OFF
SET IDENTITY_INSERT [dbo].[EmployeesTest] ON 

INSERT [dbo].[EmployeesTest] ([EmployeeID], [LastName], [FirstName], [DeptNo], [ManagerID]) VALUES (1, N'Smith', N'Cindy', 2, NULL)
INSERT [dbo].[EmployeesTest] ([EmployeeID], [LastName], [FirstName], [DeptNo], [ManagerID]) VALUES (2, N'Jones', N'Elmer', 4, 1)
INSERT [dbo].[EmployeesTest] ([EmployeeID], [LastName], [FirstName], [DeptNo], [ManagerID]) VALUES (3, N'Simonian', N'Ralph', 2, 2)
SET IDENTITY_INSERT [dbo].[EmployeesTest] OFF
SET IDENTITY_INSERT [dbo].[Investors] ON 

INSERT [dbo].[Investors] ([InvestorID], [LastName], [FirstName], [Address], [City], [State], [ZipCode], [Phone], [Investments], [NetGain]) VALUES (1, N'Anders', N'Maria', N'345 Winchell Pl', N'Anderson', N'IN', N'46014     ', N'(765) 555-7878      ', 15000.0000, 1242.5700)
INSERT [dbo].[Investors] ([InvestorID], [LastName], [FirstName], [Address], [City], [State], [ZipCode], [Phone], [Investments], [NetGain]) VALUES (2, N'Trujilo', N'Ana', N'1298 E Smathers St.', N'Benton', N'AR', N'72018     ', N'(510) 555-7733      ', 43500.0000, 8497.4400)
INSERT [dbo].[Investors] ([InvestorID], [LastName], [FirstName], [Address], [City], [State], [ZipCode], [Phone], [Investments], [NetGain]) VALUES (3, N'Moreno', N'Antonio', N'6925 N Parkland Ave.', N'Puyallup', N'WA', N'98373     ', N'(253) 555-8332      ', 22900.0000, 2338.8700)
SET IDENTITY_INSERT [dbo].[Investors] OFF
INSERT [dbo].[Invoices] ([InvoiceID], [InvoiceNumber], [InvoiceTotal]) VALUES (1, 8937, 50.0000)
INSERT [dbo].[Invoices] ([InvoiceID], [InvoiceNumber], [InvoiceTotal]) VALUES (2, 3662, 100.0000)
INSERT [dbo].[Invoices] ([InvoiceID], [InvoiceNumber], [InvoiceTotal]) VALUES (3, NULL, NULL)
SET IDENTITY_INSERT [dbo].[NullSample] ON 

INSERT [dbo].[NullSample] ([InvoiceID], [InvoiceTotal]) VALUES (1, 125.0000)
INSERT [dbo].[NullSample] ([InvoiceID], [InvoiceTotal]) VALUES (2, 0.0000)
INSERT [dbo].[NullSample] ([InvoiceID], [InvoiceTotal]) VALUES (3, NULL)
SET IDENTITY_INSERT [dbo].[NullSample] OFF
SET IDENTITY_INSERT [dbo].[PaidInvoices] ON 

INSERT [dbo].[PaidInvoices] ([InvoiceID], [VendorID], [InvoiceNumber], [InvoiceDate], [InvoiceTotal], [PaymentTotal], [CreditTotal], [TermsID], [InvoiceDueDate], [PaymentDate]) VALUES (1, 122, N'989319-457', CAST(N'2019-10-08' AS Date), 3813.3300, 3813.3300, 0.0000, 3, CAST(N'2019-11-08' AS Date), CAST(N'2019-11-07' AS Date))
INSERT [dbo].[PaidInvoices] ([InvoiceID], [VendorID], [InvoiceNumber], [InvoiceDate], [InvoiceTotal], [PaymentTotal], [CreditTotal], [TermsID], [InvoiceDueDate], [PaymentDate]) VALUES (2, 123, N'263253241', CAST(N'2019-10-10' AS Date), 40.2000, 40.2000, 0.0000, 3, CAST(N'2019-11-10' AS Date), CAST(N'2019-11-14' AS Date))
INSERT [dbo].[PaidInvoices] ([InvoiceID], [VendorID], [InvoiceNumber], [InvoiceDate], [InvoiceTotal], [PaymentTotal], [CreditTotal], [TermsID], [InvoiceDueDate], [PaymentDate]) VALUES (3, 123, N'963253234', CAST(N'2019-10-13' AS Date), 138.7500, 138.7500, 0.0000, 3, CAST(N'2019-11-13' AS Date), CAST(N'2019-11-09' AS Date))
GO
SET IDENTITY_INSERT [dbo].[PaidInvoices] OFF
INSERT [dbo].[Projects] ([ProjectNo], [EmployeeID]) VALUES (N'P1011', 8)
INSERT [dbo].[Projects] ([ProjectNo], [EmployeeID]) VALUES (N'P1011', 4)
INSERT [dbo].[Projects] ([ProjectNo], [EmployeeID]) VALUES (N'P1012', 3)
SET IDENTITY_INSERT [dbo].[RealSample] ON 

INSERT [dbo].[RealSample] ([ID], [R]) VALUES (1, 1.0000000000000011)
INSERT [dbo].[RealSample] ([ID], [R]) VALUES (2, 1)
INSERT [dbo].[RealSample] ([ID], [R]) VALUES (3, 0.999999999999999)
SET IDENTITY_INSERT [dbo].[RealSample] OFF
SET IDENTITY_INSERT [dbo].[SalesReps] ON 

INSERT [dbo].[SalesReps] ([RepID], [RepFirstName], [RepLastName]) VALUES (1, N'Jonathon', N'Thomas')
INSERT [dbo].[SalesReps] ([RepID], [RepFirstName], [RepLastName]) VALUES (2, N'Sonja', N'Martinez')
INSERT [dbo].[SalesReps] ([RepID], [RepFirstName], [RepLastName]) VALUES (3, N'Andrew', N'Markasian')
SET IDENTITY_INSERT [dbo].[SalesReps] OFF
INSERT [dbo].[SalesTotals] ([RepID], [SalesYear], [SalesTotal]) VALUES (1, N'2014', 1274856.3800)
INSERT [dbo].[SalesTotals] ([RepID], [SalesYear], [SalesTotal]) VALUES (1, N'2015', 923746.8500)
INSERT [dbo].[SalesTotals] ([RepID], [SalesYear], [SalesTotal]) VALUES (1, N'2016', 998337.4600)
SET IDENTITY_INSERT [dbo].[Sample] ON 

INSERT [dbo].[Sample] ([ID], [Number], [Color]) VALUES (1, 8937, N'Brown     ')
INSERT [dbo].[Sample] ([ID], [Number], [Color]) VALUES (2, 3662, N'Blue      ')
INSERT [dbo].[Sample] ([ID], [Number], [Color]) VALUES (3, NULL, N'Red       ')
SET IDENTITY_INSERT [dbo].[Sample] OFF
INSERT [dbo].[StringSample] ([ID], [Name], [AltID]) VALUES (N'1  ', N'Lizbeth Darien', N'01 ')
INSERT [dbo].[StringSample] ([ID], [Name], [AltID]) VALUES (N'2  ', N'Darnell O''Sullivan', N'02 ')
INSERT [dbo].[StringSample] ([ID], [Name], [AltID]) VALUES (N'17 ', N'Lance Pinos-Potter', N'17 ')
SET IDENTITY_INSERT [dbo].[Vendors] ON 

INSERT [dbo].[Vendors] ([VendorID], [VendorName], [VendorAddress1], [VendorAddress2], [VendorCity], [VendorState], [VendorZipCode], [VendorContactLName], [VendorContactFName], [VendorPhone], [TermsID], [AccountNo], [LastTranDate], [YTDPurchases], [YTDReturns], [LastYTDPurchases], [LastYTDReturns]) VALUES (1, N'US Postal Service', N'Attn:  Supt. Window Services', N'PO Box 7005', N'Madison', N'WI', N'53707', N'Alberto', N'Francesco', N'(209) 555-1205', 1, 552, CAST(N'2013-01-23' AS Date), 0.0000, 0.0000, 0.0000, 0.0000)
INSERT [dbo].[Vendors] ([VendorID], [VendorName], [VendorAddress1], [VendorAddress2], [VendorCity], [VendorState], [VendorZipCode], [VendorContactLName], [VendorContactFName], [VendorPhone], [TermsID], [AccountNo], [LastTranDate], [YTDPurchases], [YTDReturns], [LastYTDPurchases], [LastYTDReturns]) VALUES (2, N'National Information Data Ctr', N'PO Box 96621', N'', N'Washington', N'DC', N'20110', N'Irvin', N'Ania', N'(301) 555-8950', 3, 540, CAST(N'2016-09-11' AS Date), 0.0000, 0.0000, 0.0000, 0.0000)
INSERT [dbo].[Vendors] ([VendorID], [VendorName], [VendorAddress1], [VendorAddress2], [VendorCity], [VendorState], [VendorZipCode], [VendorContactLName], [VendorContactFName], [VendorPhone], [TermsID], [AccountNo], [LastTranDate], [YTDPurchases], [YTDReturns], [LastYTDPurchases], [LastYTDReturns]) VALUES (3, N'Register of Copyrights', N'Library Of Congress', N'', N'Washington', N'DC', N'20559', N'Liana', N'Lukas', N'', 3, 403, CAST(N'2016-09-28' AS Date), 0.0000, 0.0000, 0.0000, 0.0000)
GO
SET IDENTITY_INSERT [dbo].[Vendors] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_VendorName]    Script Date: 2/26/2020 11:41:14 AM ******/
ALTER TABLE [dbo].[Vendors] ADD  CONSTRAINT [IX_VendorName] UNIQUE NONCLUSTERED 
(
	[VendorName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Sample] ADD  CONSTRAINT [DF_Sample_Text]  DEFAULT ('None') FOR [Color]
GO
ALTER TABLE [dbo].[Vendors] ADD  CONSTRAINT [DF_Vendors_TermsID]  DEFAULT ((3)) FOR [TermsID]
GO
ALTER TABLE [dbo].[Vendors] ADD  CONSTRAINT [DF_Vendors_AccountNo]  DEFAULT ((570)) FOR [AccountNo]
GO
ALTER TABLE [dbo].[Vendors] ADD  CONSTRAINT [DF_Vendors_YTDPurchases]  DEFAULT ((0)) FOR [YTDPurchases]
GO
ALTER TABLE [dbo].[Vendors] ADD  CONSTRAINT [DF_Vendors_YTDReturns]  DEFAULT ((0)) FOR [YTDReturns]
GO
ALTER TABLE [dbo].[Vendors] ADD  CONSTRAINT [DF_Vendors_LastYTDPurchases]  DEFAULT ((0)) FOR [LastYTDPurchases]
GO
ALTER TABLE [dbo].[Vendors] ADD  CONSTRAINT [DF_Vendors_LastYTDReturns]  DEFAULT ((0)) FOR [LastYTDReturns]
GO
ALTER TABLE [dbo].[SalesTotals]  WITH CHECK ADD  CONSTRAINT [FK_SalesTotals_SalesReps] FOREIGN KEY([RepID])
REFERENCES [dbo].[SalesReps] ([RepID])
GO
ALTER TABLE [dbo].[SalesTotals] CHECK CONSTRAINT [FK_SalesTotals_SalesReps]
GO
